<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Flickagram</title>


    <!-- Bootstrap -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
        <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/logged">Flickagram</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


          <ul class="nav navbar-nav navbar-right">
           <!--  <li><a href="#">Home</a></li>
            <li><a href="about" target="_blank">About</a></li> -->
            <li><a href="#"><small>Welcome</small> <b>{{user.name}}</b></a></li>
            <li><a href="/logout">Logout</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
<div class="container" style="margin-bottom: 100px">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <section class="chat_area col-md-12" >
        <h4>Flickagram Chatroom</h4>
        <div class="col-md-12 chat_room " id="messages">
          

        </div>
        <div class="col-md-12">
          <div class="col-md-10" style="margin-top: 10px;">
            <input type="text" name="text" class="form-control col-md-10 " id="message" placeholder="Enter your message here">
          </div>
          <div class="col-md-2" style="margin-top: 10px;">
            <button class="btn btn-success" id="send">Send</button>
          </div>
        </div>
        <div class="col-md-12">
          <h5>Hope you enjoy your stay here</h5>
        </div>
      </section>
    </div>
    <div class="col-md-12"></div>

  </div>
</div>

<footer>
  <div class="container">
    <div class="col-md-12 text-center">
      <p> &copy; Flickagram 2019. All Rights Reserved.</p>
    </div>
  </div>

</footer>


<!-- <div class="container">
  <div class="col-md-6">
    <p>Welcome {{{name}}}</p>
    {{#if admin}}
      <button class="btn btn-success"> Log In </button>
      {{else}}
      <button class="btn btn-primary"> Sign Up </button>
    {{/if}}
    <ul>
      {{#each letters}}
        <li>{{@index}}.{{this}}</li>
        {{/each}}
    </ul>
  </div>
</div>
 -->




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/public/js/chat.js"></script>
  </body>
</html>
